In [2]:
import numpy as np
import pandas as pd
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [3]:
# Define column names
columns = ["pillar_x", "upperH", "lowerY", "bird_x", "bird_y", "action"]

# Load the dataset from the CSV file
dataset = pd.read_csv('training_data.csv', delimiter=',', names=columns)

In [6]:
# label encoding the data
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
dataset['action'] = le.fit_transform(dataset['action'])
dataset.head(20)

    pillar_x  upperH  lowerY  bird_x  bird_y  action
0        420     161     626     200     560       1
1        417     161     626     200     563       1
2        414     161     626     200     566       0
3        411     161     626     200     563       0
4        408     161     626     200     560       0
5        405     161     626     200     557       0
6        402     161     626     200     554       0
7        399     161     626     200     551       0
8        396     161     626     200     548       0
9        393     161     626     200     545       0
10       390     161     626     200     542       0
11       387     161     626     200     539       0
12       384     161     626     200     536       0
13       381     161     626     200     533       0
14       378     161     626     200     530       0
15       375     161     626     200     527       0
16       372     161     626     200     524       0
17       369     161     626     200     521       0
18       366     161     626     200     518       0
19       363     161     626     200     515       0

In [ ]:
# grab every 5th row for training
dataset = dataset.iloc[::10, :]

dataset.head(10)

In [5]:
print(dataset["action"].value_counts())  # Count how many 0s and 1s

action
1    24276
0    24267
Name: count, dtype: int64